.formContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 10rem;
    align-items: flex-start;
    justify-content: center;
    background-color: #0b0b0b69;
}

.addProjectForm {
    display: flex;
    flex-direction: column;
    background-color: #0f002c;
    align-items: center;
    justify-content: center;
    padding: 3rem 5.5rem;
    gap: 2rem;
    width: 35%;
    border-radius: 1rem;
    border: .1rem solid #d307ea;
}

.inputFormContainer {
    display: flex;
    width: 100%;

    input {
        width: 100%;
        padding: 1.2rem;
        border: none;
        border-radius: 1rem;
        font-size: 1.6rem;
        color: #444;
    }

    input:focus {
        outline-style: none;
    }
}

.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.addProjectButton {
    border: none;
    align-self: center;
    font-size: 1.8rem;
    padding: 1.5rem 3rem;
    background-color: #d307ea;
    color: #f3f3f3;
    border-radius: 1.2rem;
    letter-spacing: .2rem;
}

.cancelButton {
    border: 0.1rem solid #d307ea;
    align-self: center;
    font-size: 1.8rem;
    padding: 1.5rem 3rem;
    background-color: #0f002c;
    color: #f3f3f3;
    border-radius: 1.2rem;
    letter-spacing: .2rem;
}