.lds_dual_ring {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}
.lds_dual_ring:after {
  content: " ";
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: .3rem solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}