$breakpoint1: 1000px;
$breakpoint2: 1700px;
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    border-top: .1rem solid #d307ea93;

    @media (min-width: $breakpoint1) {
        padding: 2rem 20rem;
    }
    
    @media (min-width: $breakpoint2) {
        padding: 2rem 50rem;
    }
}

.footerText {
    color: #d307ea;
    font-size: 1.2rem;
}