$breakpoint1: 1000px;
$breakpoint2: 1700px;
.navBar {
    display: flex;
    align-items: center;
    padding: 1rem;
    flex: 0 1 auto;

    @media (min-width: $breakpoint1) {
        padding: 2rem 20rem;
    }
    
    @media (min-width: $breakpoint2) {
        padding: 2rem 50rem;
    }
}

.homeLink:link,
.homeLink:visited,
.homeLink:hover,
.homeLink:active {
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: .2rem;
    color: #d307ea;
}
