.article {
    width: 35%;

    @media (max-width: 1200px) {
        width: 40%;
    }

    @media (max-width: 500px) {
        width: 90%;
    }
}

.main {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-content: flex-start;
    padding-top: 5rem;
}